<h2>Sign Up</h2>
<%= erb :'users/_errors' %>
<form method="POST" action="/users">
  <input type="text" name="username" placeholder="username"><br /><br />
  <input type="text" name="email" placeholder="email"><br /><br />
  <input type="password" name="password_hash" placeholder="password" required><br /><br />
  <input type="submit" value="sign up">
</form>
