<% binding.pry %>
<% @games.each do |game| %>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= game.deck.name %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Total Guesses: <%= game.total_guesses %>.</p>
    <p>Guesses Correct on the first try: <%= game.amount_correct_on_first_try %>.</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
      <small class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"><%= game.created_at.strftime("%B %d, %Y") %></small>
  </div>
</div>
<br />
<br />
<br />
<% end %>



