<p>Question: <%= @card.question %></p>
<p>Answer: <%= @card.answer %></p>

<form method="post" action="/guesses">
  <input type="text" name="guess" placeholder="What's the answer?" >
  <input type="hidden" name="game_id" value="<%=@game.id %>">
  <input type="hidden" name="card_id" value="<%=@card.id %>">
  <input type="submit" value="Submit Guess">
</form>
