<% if @no_access %>
  <h2><%= @no_access %></h2>
<% end %>

<div>
  <% @decks.each do |deck| %>
  <p> <%= deck.name %> </p>

  <form method="POST" action="/games">
    <input type="hidden" name="deck_id" value="<%=deck.id %>">
    <input type="submit" value="Play">
  </form>

  <% end %>

</div>
